# Virtual Environment
xray/
venv/
env/
chest_xray/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Local development settings
*.log
.DS_Storeresults/best_model.keras
*.keras

# Add the misc folder to .gitignore
misc/
misc/*